.btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background: $basic-white;
    border: 2px solid $dark-blue;
    color: $dark-blue;
    font-family: $font-title;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    width: 220px;

    svg {
        fill: $dark-blue;
    }

    &:hover,
    &:active {
        color: $middle-blue;
        border: 2px solid $middle-blue;

        svg {
            fill: $middle-blue;
        }
    }
}

.btn-active {
    border: 2px solid transparent;
    background: $middle-blue;
    color: $basic-white;

    svg {
        fill: $basic-white;
    }

    &:hover,
    &:active {
        background: $basic-white;
        color: $middle-blue;
        border: 2px solid $middle-blue;

        svg {
            fill: $middle-blue;
        }
    }
}

.btn-icon {
    border: none;
    border-radius: 4px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    svg {
        width: 24px;
        height: 24px;
        fill: $light-blue;
    }

    &:hover,
    &:active {
        background: $light-blue;

        svg {
            fill: $basic-white;
        }
    }
}