.header {
    background: $basic-white;

    &__part {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        padding: 10px 20px;

        @media (min-width: 768px) {
            justify-content: space-between;
        }
    }
}