.v-popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(5px);

    &__container {
        padding: 16px;
        position: fixed;
        top: 50px;
        width: 100%;
        background: $basic-white;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media(min-width: 768px) {
            width: 600px;
        }
    }

    &__header,
    &__footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__footer-center {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &__content-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}