.title {
    font-family: $font-title;
    font-size: 28px;
    font-weight: 500;
    color: $dark-blue;
}

.subtitle {
    font-family: $font-text;
    font-size: 14px;
    font-weight: 700;
    color: $dark-blue;
}

.text {
    font-size: 14px;
    color: $basic-black;
}
