// Colors
$dark-blue: #003459;
$basic-black: #00171F;
$middle-blue: #007EA7;
$light-blue: #00A7E1;
$basic-white: #FFF;
$error: #E85324;
$light-gray: rgba(30, 31, 33, 0.12); 
$box-shadow: 0 5px 25px $light-gray;

// Fonts
$font-title: 'Oswald', Arial, Helvetica, sans-serif;
$font-text: 'Raleway', Arial, Helvetica, sans-serif;

// display
$tablet: 768px;
$desktop: 1440px;